/* Custom properties */

:root {

    /* font-family*/
    --ff-primary: 'Roboto', sans-serif;
    --ff-heading: 'League Spartan', sans-serif;

    /* font-weight */
    --fw-thin: 100;
    --fw-light: 200;
    --fw-normal: 300;
    --fw-primary: 500;
    --fw-bold: 600;

    /* font-size */

    --fs-200: 0.75rem;
    /* 12px */

    --fs-cart: 0.9375rem;
    /* 15px */

    --fs-300: 0.75rem; 
    /* 12px */
    
    --fs-400: 0.875rem;
    /* 14px */
    
    --fs-500: 1rem;
    /* 16px */

    --fs-600: 1.08rem;
    /* 17.3px */

    /* color - background-color */
    --clr-primary: #FFF;
    --clr-secondary: #D3D3D3;
    --clr-dark: #232323;
    --bg-primary: #171717;
    --bg-secondary: rgba(0, 0, 0, 0.7);
    --bg-card: rgba(211, 211, 211, 0.07);
    --bg-cart: rgba(10, 10, 10, 0.77);
    --bg-cart-secondary: rgba(217, 217, 217, 0.04);
}


/* Tipografía */
body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    font-size: var(--fs-300);
}

.nav,
.about__title,
.gallery__title,
.intro-product__title,
.product__title,
.methods__title,
.products-hero__title,
.molienda,
.unidades,
.product__precio,
.products-secondary__title,
.contact__title,
.cart__title,
.cart__button,
.cart__heading,
.cart__product-price {
    font-family: var(--ff-heading);
    text-transform: uppercase;
}

.nav {
    font-size: var(--fs-500);
    text-transform: lowercase;
}

.slogan {
    font-size: var(--fs-600);
    font-weight: var(--fw-thin);
}

.about__title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    color: var(--clr-secondary);
}

.about__body {
    font-size: var(--fs-400);
    font-weight: var(--fw-light);
}

.gallery__title {
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
    text-transform: none;
}

.intro-product__title, 
.product__title {
    font-size: var(--fs-400);
    font-weight: var(--fw-primary);
}

.all-products {
    font-weight: var(--fw-thin);
    font-size: var(--fs-400);
}

.methods__title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
    text-transform: none;
}

.products-hero__title {
    font-weight: var(--fw-thin);
    font-size: var(--fs-600);
}

.products-sign {
    font-size: var(--fs-400);
}

.products-secondary__title {
    font-weight: var(--fw-primary);
    font-size: var(--fs-500);
}

.contact__title {
    font-weight: var(--fw-primary);
    font-size: var(--fs-400);
}

.footer__credits {
    font-size: var(--fs-300);
}

.cart__main-text {
    font-weight: var(--fw-primary);
    font-size: var(--fs-500);
}

.cart {
    font-size: var(--fs-cart);
}

.cart__heading {
    font-weight: var(--fw-normal);
}

.cart__product-title {
    font-weight: var(--fw-normal);
}

.cart__product-price {
    font-weight: var(--fw-primary);    
}

input {
    font-weight: var(--fw-thin);    
}


.cart__buscar-codigo {
    font-weight: var(--fw-thin);
    font-size: var(--fs-200);
}

.cart__main-button {
    font-size: var(--fs-400);
}

/* Restart y estilos generales */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--clr-primary);
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-primary);
}

p {
    line-height: 1.6;
}

.container {
    width: 90vw;
    max-width: 1000px;
    margin-inline: auto;
}

.row {
    display: flex;
    gap: 1rem;
}

section + section {
    margin-top: clamp(2rem, 15vw, 4rem);
}

button {
    border: none;
    cursor: pointer;
    font-size: var(--fs-300);
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
    -webkit-appearance: none;
    -moz-appearance: none;

    transition: background-color 250ms ease-in-out;
}

button:hover {
    background-color: #BBB;
}

.btn {
    display: inline-block;
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
    padding: .25em .75em;
    border-radius: .5em;
}

.btn--outline {
    background-color: transparent;
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

input,
select {
    font-weight: var(--fw-thin);
    color: var(--clr-secondary);
    background-color: transparent;
}

option {
    background-color: var(--bg-primary);
}

/* Layout */

.nav {
    position: fixed;
    background-color: transparent;
    display: flex;
    width: 100%;
    padding-right: 2rem;
    padding-block: 1rem;
    align-items: center;
    transition: all 350ms;
    z-index: 50;
}

.nav-scrolled {
    background-color: var(--bg-secondary);
    transition: all 350ms;
}

.cart-icon {
    margin-left: auto;
    cursor: pointer;
}

.nav__list {
    display: flex;
    gap: 1em;
    margin-left: auto;
    margin-right: -65px;
}

.hero {
    background-image: url(../img/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    /* background-position: top center; */
    /* background-attachment: fixed; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    max-width: 15rem;
    padding: 2rem;
}

.slogan {
    background-color: var(--bg-card);
    max-width: 20ch;
    padding: 1em .5em 1em .8em;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.about-us {
    background-color: var(--bg-secondary);
    color: var(--clr-secondary);
    border-radius: 2rem;
    padding: 2rem;

}

.about__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 55%;
}

.about__body {
    max-width: 30ch;
}

.about__img {
    flex-basis: 45%;
    width: 80%;
    max-height: 480px;
    object-fit: contain;
}

.about__title {
    margin-bottom: .2em;
}


.gallery__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.gallery__grid :nth-child(2) {
    grid-column: 3 / span 3;
    grid-row: 3 / span 3;
    z-index: 10;
}

.gallery__grid :nth-child(1) {
    grid-column: 5 / span 3;
    grid-row: 2 / span 3;
    margin-top: 1.5rem;
    margin-left: -2rem;
}

.gallery__grid :nth-child(3) {
    grid-column: 6 / span 3;
    grid-row: 5 / span 3;
    margin-top: -2.2rem;
    margin-left: -2rem;
}

.gallery__title {
    grid-column: 8 / -1;
    grid-row: 3 / 5;
    max-width: 20ch;
}

.products-intro {
    display: grid;
}

.intro-product {
    background-color: var(--bg-card);
    flex-basis: 100%;
    display: grid;
    padding: 1rem;
}

.intro-product__img {
    width: 50%;
    max-width: 150px;
    display: inline-block;
    justify-self: center;
}

.intro-last-product {
    display: none;
}

.all-products {
    justify-self: end;
    margin-top: 1rem;    
}

.all-products__arrow {
    width: 1em;
    margin-left: .4em;
}

.methods {
    background-color: var(--bg-secondary);
    padding-block: 2rem;
    margin-bottom: clamp(2rem, 15vw, 4rem);
}

.methods__title {
    margin-bottom: 1em;
}

.methods__icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
    justify-items: center;
    margin-inline: auto;
}

.methods__icon {
    object-fit: contain;
    height: 50%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__icons {
    display: flex;
    gap: 6em;
    margin-top: 1em;
}


/* Página products */

.products-hero__img {
    width: 100vw;
}

.products-hero__title {
    display: inline-block;
    background-color: var(--bg-card);
    width: min-content;
    padding: .5em 1.5em;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    position: absolute;
    top: 25vw;
    left: 0;
}

.products-sign {
    display: block;
    width: max-content;
    background-color: var(--bg-card);
    margin: 0 auto;
    padding: .25em .75em;
    border-radius: 1rem;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.gallery__grid :nth-child(2) {
    grid-column: 1 / span 4;
    grid-row: 3 / span 5;
    z-index: 10;
}

.gallery__grid :nth-child(1) {
    grid-column: 4 / span 4;
    grid-row: 1 / span 5;    
}

.gallery__grid :nth-child(3) {
    grid-column: 5 / span 4;
    grid-row: 7 / span 5;
    margin-top: -3.2rem;
}

.gallery__title {
    grid-column: 7 / -1;
    grid-row: 4 / 7;
    margin-top: -1.5rem;
    margin-left: .8rem;
}

.product {
    font-size: var(--fs-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-card);
    padding: 1.5em;
}

.product__img {
    max-width: 50%;
}

.product__img,
.product__title,
.product__body,
.product__molienda,
.product__unidades,
.precio,
.product__precio {
    margin-bottom: 1em;
}

.product__precio {
    display: block;
    position: relative;
    margin-block: .5em;
    max-width: fit-content;
    margin-inline: auto;
}

.product__precio::before,
.product__precio::after {
    content: "";
    width: .7em;
    border-bottom: 1px solid var(--clr-primary);
    position: absolute;
}

.product__precio::before {
    top: .7em;
    left: -1em;
}

.product__precio::after {
    top: .7em;
    left: 2.8em;
}

.product__btn {
    display: block;
    max-width: fit-content;
    margin-inline: auto;
}

/* Carrito */


.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary);
    visibility: hidden;
    z-index: 100;
}

.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 200;
    transform: translateX(100%);

    background-color: var(--bg-cart);
    padding: 2rem;

}


.cart__close {
    font-size: 1.5em;
    color: var(--clr-primary);
    cursor: pointer;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.cart__product-col {
    display: flex;
}

.cantidad-row {
    display: flex;
}

.cart__envio {
    width: 80%;
    margin-inline: auto;
}

.cart__truck,
.cart__trash {
    object-fit: scale-down;
}

.envio-row {
    display: flex;
    gap: .5em;
    margin-top: .5rem;
}

.cart__total {
    background-color: var(--bg-cart-secondary);
    padding: 1rem;
    border-radius: 1rem;
    margin-block: 1rem;
}

.cart__main-button {
    display: block;
    margin-inline: auto;
}

.cart-number {
    font-style: normal;
}

.subtotal::before,
.envio::before,
.precioTotal::before {
    content: "$";
}


/* Clases para mostrar el carrito y el fondo (se agregan a través de JS) */

.cart-show {
    transform: translateX(0);
}

.overlay-visible {
    visibility: visible;
}

@media screen and (min-width: 600px){

    :root {
        --fs-200: 0.75rem;
        /* 12px */
    
        --fs-cart: 0.9375rem;
        /* 15px */
    
        --fs-300: 0.875rem; 
        /* 14px */
        
        --fs-400: 1.125rem;
        /* 18px */
        
        --fs-500: 1.25rem;
        /* 20px */
    
        --fs-600: 1.875rem;
        /* 30px */
    }

    .hero {
        min-height: 100vh;
        background-attachment: fixed;
    }

    .intro-last-product {
        display: grid;
    }

    .products-hero__img {
        max-height: 100vh;
        object-position: bottom center;
    }

    .products-hero__title {
        width: max-content;
    }

    .product__onhover {
        /* display: none; */
        max-height: 0;
        transform: scaleY(0);
        opacity: 0;
        transition: max-height .2s, opacity .7s;
    }

    .product__show {
        max-height: 100px;
        transform: scaleY(100%);
        opacity: 1;

    }

    .cart-container {
        width: 30vw;
        min-width: 450px;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;
    }

    .product__precio {
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    padding: .2em .5em;
    border-radius: .5em;
    }

    .product__precio::before,
    .product__precio::after {
        width: 0;
    }


    .gallery__grid {
        grid-template-rows: repeat(5, 1fr);
    }

    .gallery__grid :nth-child(2) {
        grid-column: 2 / span 3;
        grid-row: 2 / span 3;
        z-index: 10;
    }
    
    .gallery__grid :nth-child(1) {
        grid-column: 4 / span 3;
        grid-row: 1 / span 3;
        margin-top: 1.5rem;
        margin-left: -2rem;
    }
    
    .gallery__grid :nth-child(3) {
        grid-column: 5 / span 3;
        grid-row: 4 / span 3;
        margin-top: -2.2rem;
        margin-left: -2rem;
    }
    
    .gallery__title {
        font-size: 2.5vw;
        line-height: 1.8;
        letter-spacing: 3px;
        grid-column: 7 / -1;
        grid-row: 3 / -1;
        max-width: 25ch;
        transform: translate(-1rem, -4rem);
    }
}

@media screen and (max-width: 400px){

    .about__img {
        display: none;
    }

    .about-us {
        display: block;
    }

    .about__col {
        align-items: center;
        background-image: url(../img/granos.png);
        background-color: #111;
        background-blend-mode: difference;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}